{{define "title"}}{{.Config.Title}}{{end}}
{{define "description"}}{{.Config.Description}}{{end}}

{{define "head"}}
<link href="{{atomURL .Config}}" rel="alternate" title="Atom" type="application/atom+xml" />
{{if .Single }}
{{ range .Notes}}
{{$desc := .Body | markdownText}}
<meta name="description" content="{{$desc}}">
<meta property="og:url" content="{{notePageURL $.Config .NoteID}}">

<meta property="og:type" content="website">
<meta property="og:title" content="{{$.Config.Title}}">
<meta property="og:description" content="{{$desc}}">

<meta property="twitter:domain" content="{{$.Config.BaseURL.Host}}">
<meta property="twitter:url" content="{{notePageURL $.Config .NoteID}}">
<meta name="twitter:title" content="{{$.Config.Title}}">
<meta name="twitter:description" content="{{$desc}}">

{{$images := .Body | markdownImages}}
{{ if eq 0 (len $images)}}
<meta name="twitter:card" content="summary">
{{else}}
<meta name="twitter:card" content="summary_large_image">
{{end}}

{{range $images}}
<meta property="og:image" content="{{.}}">
<meta name="twitter:image" content="{{.}}">
{{end}}

{{end}}
{{end}}


{{end}}

{{define "nav"}}
<ul>
    <li>
        <details role="list">
            <summary aria-haspopup="listbox" role="link">Archives</summary>
            <ul role="listbox">
                {{range .Weeks}}
                <li>
                    <a href="{{weekPageURL $.Config .StartDate}}">
                        {{.StartDate}} to {{.EndDate}}
                    </a>
                </li>
                {{end}}
            </ul>
        </details>
    </li>
    <li>
        <a href="{{atomURL .Config}}">
            <svg style="width: 30px; height: 30px" viewBox="0 0 800 800">
                <path
                    d="M493 652H392c0-134-111-244-244-244V307c189 0 345 156 345 345zm71 0c0-228-188-416-416-416V132c285 0 520 235 520 520z" />
                <circle cx="219" cy="581" r="71" />
            </svg>
        </a>
    </li>
</ul>
{{end}}

{{define "content"}}
{{range .Notes}}
<article>
    <div class="content">
        {{.Body | markdownHTML}}
    </div>
    <footer>
        <a href="{{notePageURL $.Config .NoteID}}">
            <time datetime="{{.CreatedAt | rfc3339}}">
                {{.CreatedAt | localTime}}
            </time>
        </a>
    </footer>
</article>
{{else}}
<article>
    <aside>Nothing here yet.</aside>
</article>
{{end}}
{{end}}

{{define "footer"}}
<p>
    <small>Copyright &copy; {{currentYear}} {{.Config.Author}}</small>
</p>
{{end}}