{{define "title"}}Yellhole Admin{{end}}
{{define "description"}}Speak frenemy and enter.{{end}}

{{define "content"}}
<button id="login" data-passkey-only="true" disabled>Log In With Passkey</button>
<p id="message"></p>
{{end}}

{{define "auth-tail"}}
<script type="text/javascript">
    const { startAuthentication } = SimpleWebAuthnBrowser;
    const btnLogin = document.getElementById('login');
    const pMessage = document.getElementById('message');
    btnLogin.addEventListener('click', async () => {
        pMessage.innerHTML = '';
        const startResp = await fetch('{{.Config.BaseURL.JoinPath "login" "start"}}', { method: 'POST' });
        const startJSON = await startResp.json();

        let finishReq;
        try {
            finishReq = await startAuthentication({ optionsJSON: startJSON.publicKey });
        } catch (error) {
            pMessage.innerText = error;
            throw error;
        }

        const finishResp = await fetch('{{.Config.BaseURL.JoinPath "login" "finish"}}', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(finishReq),
        });

        const finishJSON = await finishResp.json();

        if (finishJSON && finishJSON.verified) {
            window.location.href = '{{.Config.BaseURL.JoinPath "admin"}}';
        } else {
            console.log(finishJSON);
            window.alert('Error logging in with passkey.')
        }
    });
</script>
{{end}}