{{define "head"}}
<script src='{{url "js" "simplewebauthn-browser-13.1.0.min.js"}}?{{buildTag}}'
    integrity='{{assetHash "js" "simplewebauthn-browser-13.1.0.min.js"}}'></script>
{{end}}

{{define "tail"}}
<script type="text/javascript">
    const { browserSupportsWebAuthn } = SimpleWebAuthnBrowser;
    document.addEventListener('DOMContentLoaded', (_) => {
        if (!browserSupportsWebAuthn()) {
            window.alert('Passkeys not enabled');
            return;
        }

        document.querySelectorAll('button[data-passkey-only="true"]').forEach(e => {
            e.disabled = false;
        });
    });
</script>
{{block "auth-tail" .}}{{end}}
{{end}}