{{define "title"}}{{title}}{{end}}
{{define "description"}}{{description}}{{end}}

{{define "head"}}
<link href='{{url "atom.xml"}}' rel="alternate" title="Atom" type="application/atom+xml" />
{{if .Single }}
{{ range .Notes}}
{{$desc := .Body | markdownText}}
<meta name="description" content="{{$desc}}">
<meta property="og:url" content='{{url "note" .NoteID}}'>

<meta property="og:type" content="website">
<meta property="og:title" content="{{title}}">
<meta property="og:description" content="{{$desc}}">

<meta property="twitter:domain" content="{{host}}">
<meta property="twitter:url" content='{{url "note" .NoteID}}'>
<meta name="twitter:title" content="{{title}}">
<meta name="twitter:description" content="{{$desc}}">

{{$images := .Body | markdownImages}}
{{ if eq 0 (len $images)}}
<meta name="twitter:card" content="summary">
{{else}}
<meta name="twitter:card" content="summary_large_image">
{{end}}

{{range $images}}
<meta property="og:image" content="{{.}}">
<meta name="twitter:image" content="{{.}}">
{{end}}

{{end}}
{{end}}


{{end}}

{{define "nav"}}
<ul>
    <li class="secondary">
        <details class="dropdown">
            <summary>
                Archives
            </summary>
            <ul>
                {{range .Weeks}}
                <li>
                    <a href='{{url "notes" .StartDate}}'>
                        {{.StartDate}} to {{.EndDate}}
                    </a>
                </li>
                {{end}}
            </ul>
        </details>
    </li>
    <li>
        <a href='{{url "atom.xml"}}'>
            <svg style="width: 30px; height: 30px" viewBox="0 0 800 800">
                <path
                    d="M493 652H392c0-134-111-244-244-244V307c189 0 345 156 345 345zm71 0c0-228-188-416-416-416V132c285 0 520 235 520 520z" />
                <circle cx="219" cy="581" r="71" />
            </svg>
        </a>
    </li>
</ul>
{{end}}

{{define "content"}}
{{range .Notes}}
<article>
    <div class="content">
        {{.Body | markdownHTML}}
    </div>
    <footer>
        <a href='{{url "note" .NoteID}}'>
            <time datetime="{{.CreatedAt.UTC}}">{{.CreatedAt.Local}}</time>
        </a>
    </footer>
</article>
{{else}}
<article>
    <aside>Nothing here yet.</aside>
</article>
{{end}}
{{end}}

{{define "footer"}}
<p>
    <small>Copyright &copy; {{now.Local.Year}} {{author}}</small>
</p>
{{end}}