{{define "content"}}
    <article>
        <div class="content">
            {{. | markdownHTML}}
        </div>
        <footer>
            <a href="#">
                <time datetime="{{now.UTC}}">{{now.Local}}</time>
            </a>
        </footer>
    </article>
{{end}}