{{define "title"}}Yellhole Admin{{end}}
{{define "description"}}Welcome to the hole.{{end}}

{{define "content"}}
<section>
    <button id="register" data-passkey-only="true" disabled>
        Register Passkey
    </button>
    <p id="message"></p>
</section>
{{end}}

{{define "auth-tail"}}
<script>
    const { startRegistration } = SimpleWebAuthnBrowser;
    const btnRegister = document.getElementById('register');
    const pMessage = document.getElementById('message');
    btnRegister.addEventListener('click', async () => {
        pMessage.innerHTML = '';
        const startResp = await fetch('{{url "register" "start"}}', { method: 'POST' });
        const startJSON = await startResp.json();

        let finishReq;
        try {
            finishReq = await startRegistration({ optionsJSON: startJSON.publicKey });
        } catch (error) {
            if (error.name === 'InvalidStateError') {
                pMessage.innerText = 'Error: Authenticator was probably already registered by user';
            } else {
                pMessage.innerText = error;
            }

            throw error;
        }

        const finishResp = await fetch('{{url "register" "finish"}}', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(finishReq),
        });

        const finishJSON = await finishResp.json();

        if (finishJSON && finishJSON.verified) {
            window.alert('Passkey successfully registered.')
            window.location.href = '{{url "login"}}';
        } else {
            console.log(finishJSON);
            window.alert('Error registering passkey.')
        }
    });
</script>
{{end}}