{{define "title"}}Yellhole Admin{{end}}
{{define "description"}}Speak frenemy and enter.{{end}}

{{define "head"}}
<script src='{{assetURL .Config "js" "auth.js"}}'></script>
{{end}}

{{define "content"}}
<script type="text/javascript">
    function loginClick() {
        login(
            '{{.Config.BaseURL.JoinPath "login" "start"}}',
            '{{.Config.BaseURL.JoinPath "login" "finish"}}',
            '{{.Config.BaseURL.JoinPath "admin"}}',
        );
    }
</script>
<button id="login" data-passkey-only="true" disabled onclick="loginClick()">Log In With Passkey</button>
{{end}}